<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotel Campestre El Triunfo</title>
        <link rel="stylesheet" href="\css\style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css">
        <link rel="icon" type="image/png" sizes="16x16" href="\images\favlogo.png">
    </head>

<body>
    <div class="title">
        <table>
            <tr>
                <td align="left">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="\"><img src="\images\logo3.jpg" alt="Logo Hotel Campestre El Triunfo" id="logo"/></a>
                </td>
                <td align="left">
                    <a class="nav-link" href="#inicio">|&nbsp;Somos</a>&nbsp;|&nbsp;
                    <a class="nav-link" href="#hospedaje">Hospedaje</a>&nbsp;|&nbsp;
                    <a class="nav-link" href="#servicios">Servicios</a>&nbsp;|&nbsp;
                    <a class="nav-link" href="#turismo">Turismo en San Agustín</a>&nbsp;|&nbsp;
                    <a class="nav-link" href="#galeria">Galería</a>&nbsp;|&nbsp;
                    <a class="nav-link" href="#contacto">Contacto</a>&nbsp;|&nbsp;
                </td>
                <td align="right">
                    <a href="\">Inicio</a>&nbsp;&nbsp;
                    <a href="login">Ingresar</a>&nbsp;&nbsp;
                    <a href="register">Registrarme</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>
    </div>
    <header>
    <div class="slider">
        <ul>
            <li>
                <img src="\images\hotel1.jpg" alt="Hotel Campestre El Triunfo"/>
                <div class="texto">
                    <h2>Vive momentos inolvidables.</h2>
                    <p><b>En el Hotel Campestre el Triunfo, experimentarás el equilibrio perfecto
                        entre la naturaleza y la elegancia. Ven y descubre un lugar donde la comodidad 
                        se fusiona con la serenidad en un entorno mágico.</b></p>
                </div>
            </li>
            <li>
                <img src="\images\hotel4.jpg" alt="Hotel Campestre El Triunfo"/>
                <div class="texto">
                    <h2>Experimenta el descanso y la serenidad.</h2>
                    <p><b>En el Hotel Campestre el Triunfo, cada día es una oportunidad para recargar energías
                         y disfrutar de momentos inolvidables. ¡Únete a nosotros y crea recuerdos que durarán toda la vida!</b></p>
                </div>
            </li>
            <li>
                <img src="\images\hotel3.jpg" alt="Hotel Campestre El Triunfo"/>
                <div class="texto">
                    <h2>Disfruta de la belleza natural en un entorno de ensueño.</h2>
                    <p><b>¿Necesitas un descanso? El Hotel Campestre el Triunfo es tu escapada ideal. 
                        Disfruta de la tranquilidad, la hospitalidad y las vistas impresionantes. Ven y redescubre la armonía con la naturaleza.</b></p>
                </div>
            </li>
            <li>
                <img src="\images\hotel5.jpg" alt="Hotel Campestre El Triunfo"/>
                <div class="texto">
                    <h2>Tu refugio de paz y renovación te espera.</h2>
                    <p><b>En el Hotel Campestre el Triunfo, te prometemos una experiencia que despierte todos tus sentidos. 
                        Desde los colores de la naturaleza hasta los sabores de nuestra exquisita cocina, todo está diseñado 
                        para que vivas momentos inolvidables. Ven y déjate llevar por la magia de nuestro refugio campestre.</b></p>
                </div>
            </li>
        </ul>
    </div>
    </header>

    <section id="inicio">
        <h2>¡AQUÍ AMAMOS LA NATURALEZA!</h2>
        <div class="somos">
            <p>Somos un encantador hotel familiar agroturístico y orgánico que prioriza la <b>sostenibilidad ambiental</b>. Nuestra extensa finca de 14 hectáreas, bañada por las aguas majestuosas del río Magdalena, alberga una abundante naturaleza y senderos repletos de frutos cítricos, cacao, aguacates y nuestro delicioso café orgánico. </br></br>
                Nuestra ubicación estratégica nos permite acceder fácilmente a todos los destinos culturales y naturales que enriquecen la experiencia de San Agustín e Isnos. Además, disfrutarás de un clima promedio agradable de entre 18 y 23 grados centígrados, acompañado de una altitud superior a los 1,350 metros sobre el nivel del mar.</p>
            <img src="\images\riom.jpeg" alt="Río Magadalena">
        </div>
    </section> 

    <section id="hospedaje">
        <h2>Hospedaje</h2>
        <div class="hospedaje">
            <img src="\images\habitaciones.jpg" alt="Hospedaje">
            <p> Nuestro lema es la comodidad de la ciudad en el campo. La arquitectura se encuentra inmersa en un paisaje verde, rodeada de cultivos, prados, jardines y una rica diversidad de vida silvestre. Desde aquí, disfrutarás de la impresionante vista del cañón del río Magdalena, donde los sonidos naturales y la variedad de cultivos en las laderas te invitan a conectarte con la naturaleza. Experimenta una estadía relajante en un lugar mágico para tu descanso.</p>
        </div>
    </section>

    <section id="servicios">
        <h2>Servicios</h2>
        <p>Nuestro hotel cuenta con una amplia gama de servicios, incluyendo restaurante, jacuzzi familiar, senderos naturales y mucho más.</p>
        <div class="servicios">
            <article>
                <h2>Senderismo</h2>
                <img src="\images\sendero1.jpg" alt="Senderismo">
                <p>
                    Activa tus sentidos mientras recorres nuestros senderos y descubres la perfecta armonía de la exploración al 
                    aire libre, que llenará tu vida de sabor con frutos naturales y saludables, libres de agroquímicos. 
                    Tu cuerpo se energizará y tu alma se nutrirá espiritualmente. 
                    Además, para endulzar tu experiencia, un postre de la casa te brindará un toque de dulzura inigualable.
                </p>
            </article>
            <article>
                <h2>Finca demostrativa Naturaleza Viva</h2>
                <img src="\images\fincademost2.jpg" alt="Finca demostrativa">
                <p>
                    Explora, aprende y lleva contigo en el corazón un profundo amor por la naturaleza. Nuestra ruta orgánica 
                    te demostrará por qué es fundamental protegerla, inspirándote a hacer de cada día un mundo más verde y sostenible.
                </p>
            </article>
            <article>
                <h2>Pasadia</h2>
                <img src="\images\pasadia1.jpg" alt="Pasadia">
                <p>
                    Sumérgete en un espacio donde cada paso te conduce a los tesoros naturales. Disfruta de experiencias enriquecedoras, 
                    deléitate con exquisitas comidas y respira el aire fresco que fluye desde las imponentes montañas de la 
                    cordillera central y oriental, acariciando las aguas del río Magdalena. Así, habrás vivido un día inolvidable.
                </p>
            </article>
        </div>
    </section>

    <section id="turismo">
        <h2>Turismo en San Agustín</h2>
        <p>Descubre las maravillas culturales y naturales de San Agustín, incluyendo el Parque Arqueológico, museos y cascadas.</p>
        <div class="turismo">
            <article>
                <h2>Parque Arqueológico de San Agustín</h2>
                <img src="/images/parque1.jpg" alt="Parque Arqueológico de San Agustín">
                <p>
                    El Parque Arqueológico de San Agustín destaca como uno de los enclaves arqueológicos más significativos de Colombia.
                    Situado en la confluencia de las cordilleras Central y Oriental, en la región sur del Alto Magdalena, se encuentra
                    en proximidad al origen del río Magdalena, específicamente en el sur del departamento del Huila y dentro del municipio de San Agustín.
                    Este parque ofrece una rica perspectiva histórica y cultural en un entorno natural excepcional, consolidándose como un punto de referencia
                    para el estudio y aprecio del patrimonio arqueológico colombiano.
                </p>
            </article>
        
            <article>
                <h2>Museo precolombino Villa real</h2>
                <img src="/images/museo.jpg" alt="Cascada Los Tres Chorros">
                <p>
                    Con el propósito de salvaguardar la gran cantidad de objetos arqueológicos de la cultura agustiniana, se guardan cuidadosamente en este museo, 
                    por el señor Rosiberio Sotelo y Libardo Sotelo Meneses que desde muy jóvenes empezaron a recuperar vasijas y cuanto objeto en su finca y 
                    alrededores del municipio, fue así que el 8 de junio de 1996, se fundo este museo, con una gran colección de botijuelos, urnas funerarias, 
                    alcarrazas, cuencos, ollas con vertedera, cerámica trípode, sarcófagos y un sin numero de piezas que hacen parte de maravillosa colección. 
                </p>
            </article>
        
            <article>
                <h2>Cascada Los Tres Chorros</h2>
                <img src="/images/treschorros1.jpg" alt="Cascada Los Tres Chorros">
                <p>
                    Una cascada dividida en tres ramilletes de aguas claras se desprenden formando en su caída una gélida piscina.
                </p>
            </article>
        </div>        
    </section>
    


    <section id="galeria">
        <div class="overlay">
            <div class="slideshow">
                <span class="btn_cerrar">&times;</span>
                <div class="botones adelante">
                    <i class="mdi mdi-arrow-right-circle-outline"></i>
                </div>
                <div class="botones atras">
                    <i class="mdi mdi-arrow-left-circle-outline"></i>
                </div>
                <img src="" alt="" id="img_slideshow">
            </div>
        </div>
        <h2>Galería de Imágenes</h2>
        <section class="galeria">
            <div class="columna">
                <img src="\images\cabana1.jpg" alt="Cabaña" data-img-mostrar="0">
                <img src="\images\cafe1.jpg" alt="Cafe" data-img-mostrar="1">
                <img src="\images\lectura1.jpg" alt="Lectura" data-img-mostrar="2">
                <img src="\images\cocina1.jpg" alt="Cocina" data-img-mostrar="3">
                <img src="\images\entrada1.jpg" alt="Entrada" data-img-mostrar="4">
            </div>
            <div class="columna">
                <img src="\images\habitaciones2.jpg" alt="Habitaciones" data-img-mostrar="5">
                <img src="\images\hotel8.jpg" alt="Hotel Campestre El Triunfo" data-img-mostrar="6">
                <img src="\images\rest1.jpg" alt="Restaurante" data-img-mostrar="7">
                <img src="\images\cafe2.jpg" alt="Cafe" data-img-mostrar="8">
            </div>
            <div class="columna">
                <img src="\images\lago1.jpg" alt="Lago" data-img-mostrar="9">
                <img src="\images\hotel6.jpg" alt="Hotel Campestre El Triunfo" data-img-mostrar="10">
                <img src="\images\desayuno1.jpg" alt="Desayuno" data-img-mostrar="11">
                <img src="\images\jac2.jpg" alt="Jacuzzi" data-img-mostrar="12">
                <img src="\images\lago2.jpg" alt="Lago" data-img-mostrar="13">
                <img src="\images\hamaca1.jpg" alt="Hamaca" data-img-mostrar="14">
            </div>
            <div class="columna">
                <img src="\images\cafe4.jpg" alt="Cafe" data-img-mostrar="15">
                <img src="\images\copa1.jpg" alt="Copa" data-img-mostrar="16">
                <img src="\images\familia.jpg" alt="Familia" data-img-mostrar="17">
                <img src="\images\familia2.jpg" alt="Familia" data-img-mostrar="18">
                <img src="\images\maiz1.jpg" alt="Cultivo de Maiz" data-img-mostrar="19">
            </div>
            <div class="columna">
                <img src="\images\siemb1.jpg" alt="Siembra" data-img-mostrar="20">
                <img src="\images\siemb3.jpg" alt="Siembra" data-img-mostrar="21">
                <img src="\images\llama2.jpg" alt="Llama" data-img-mostrar="22">
                <img src="\images\postre1.jpg" alt="Postre" data-img-mostrar="23">
                <img src="\images\siemb5.jpg" alt="Siembra" data-img-mostrar="24">
            </div>
        </section>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Para hacer una reserva o para obtener más información, contáctanos en: hotelcampestreeltriunfo@gmail.com | Teléfono: (+57)321 468 1457</p>
    </section>

    <footer>
        <table>
            <tr>
                <td>
                    <p>Copyright &copy; 2023 Hotel Campestre El Triunfo. Todos los derechos reservados.</p>
                </td>
                <td>
                    <a href="https://api.whatsapp.com/send?phone=573214681457&text=Hola,%20quiero%20mas%20informaci%C3%B3n..." style="color:#ffffff;" target="_blank">
                        <img src="\images\icowhat1.png" alt="Whatsapp"></a>
                    <a href="https://www.facebook.com/eltriunfo.co?locale=es_LA" style="color:#ffffff;" target="_blank">
                        <img src="\images\icoface1.png" alt="Facebook"></a>
                    <a href="https://www.instagram.com/eltriunfo.co/" style="color:#ffffff;" target="_blank">
                        <img src="\images\icoinst1.png" alt="Instagram"></a>
                    <a href="https://www.youtube.com/@hotelcampestreeltriunfo911/" style="color:#ffffff;" target="_blank">
                        <img src="\images\icoyout1.png" alt="YouTube"></a>
                </td>
            </tr>
        </table>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let imagenes = [
                {img: '/images/cabana1.jpg'},
                {img: '/images/cafe1.jpg'},
                {img: '/images/lectura1.jpg'},
                {img: '/images/cocina1.jpg'},
                {img: '/images/entrada1.jpg'},
                {img: '/images/habitaciones2.jpg'},
                {img: '/images/hotel8.jpg'},
                {img: '/images/rest1.jpg'},
                {img: '/images/cafe2.jpg'},
                {img: '/images/lago1.jpg'},
                {img: '/images/hotel6.jpg'},
                {img: '/images/desayuno1.jpg'},
                {img: '/images/jac2.jpg'},
                {img: '/images/lago2.jpg'},
                {img: '/images/hamaca1.jpg'},
                {img: '/images/cafe4.jpg'},
                {img: '/images/copa1.jpg'},
                {img: '/images/familia.jpg'},
                {img: '/images/familia2.jpg'},
                {img: '/images/maiz1.jpg'},
                {img: '/images/siemb1.jpg'},
                {img: '/images/siemb3.jpg'},
                {img: '/images/llama2.jpg'},
                {img: '/images/postre1.jpg'},
                {img: '/images/siemb5.jpg'}
            ]
            let contador = 0
            const contenedor = document.querySelector('.slideshow')
            const overlay = document.querySelector('.overlay')
            const galeria_imagenes = document.querySelectorAll('.galeria img')
            const img_slideshow = document.querySelector('.slideshow img')

            contenedor.addEventListener('click', function (event) {
                let atras = contenedor.querySelector('.atras'),
                    adelante = contenedor.querySelector('.adelante'),
                    img = contenedor.querySelector('img'),
                    tgt = event.target
                if (tgt == atras) {
                    if (contador > 0) {
                        img.src = imagenes[contador - 1].img
                        contador--
                    } else {
                        img.src = imagenes[imagenes.length - 1].img
                        contador = imagenes.length - 1
                    }
                } else if (tgt == adelante) {
                    if (contador < imagenes.length - 1) {
                        img.src = imagenes[contador + 1].img
                        contador++
                    } else {
                        img.src = imagenes[0].img
                        contador = 0
                    }
                }
            })

            Array.from(galeria_imagenes).forEach(img => {
                img.addEventListener('click', event => {
                    const imagen_seleccionada = +event.target.dataset.imgMostrar
                    img_slideshow.src = imagenes[imagen_seleccionada].img
                    contador = imagen_seleccionada
                    overlay.style.opacity = 1
                    overlay.style.visibility = 'visible'
                })
            })

            document.querySelector('.btn_cerrar').addEventListener('click', () => {
                overlay.style.opacity = 0
                overlay.style.visibility = 'hidden'
            })
        })
    </script>
</body>
</html>