<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotel Campestre El Triunfo</title>
        <link rel="icon" type="image/png" sizes="16x16" href="\images\favlogo.png">
        <link rel="stylesheet" href="\css\style.css">
    </head>

<body>
    <div class="title">
        <table style="width:100%" border=0>
            <tr>
                <td align="left">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="\"><img src="\images\logo3.jpg" id="logo"/></a>
                </td>
                <td>
                    
                </td>
                <td align="right">
                    <a class="nav-link active" href="\">Inicio</a>&nbsp;&nbsp; <!-- Enlace al inicio de la página -->
                    <a class="nav-link" href="login">Ingresar</a>&nbsp;&nbsp; <!-- Enlace a la página de inicio de sesión -->
                    <a class="nav-link" href="register">Registrarme</a>&nbsp;&nbsp;&nbsp;&nbsp; <!-- Enlace a la página de registro -->
                </td>
            </tr>
        </table>
    </div>
    <h1 align="center">Reserva con nosotros</h1>
    <div class="container">
        <h2>Reserva tu Cabaña</h2>
        <form action="procesar_reserva.php" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="cabaña">Elige tu Cabaña:</label>
            <select id="cabaña" name="cabaña" required>
                <option value="cabaña1">Cabaña 1</option>
                <option value="cabaña2">Cabaña 2</option>
                <option value="cabaña3">Cabaña 3</option>
                <option value="cabaña4">Cabaña 4</option>
                <option value="cabaña5">Cabaña 5</option>
            </select>
            
            <label for="fecha_llegada">Fecha de Llegada:</label>
            <input type="date" id="fecha_llegada" name="fecha_llegada" required>
            
            <label for="fecha_salida">Fecha de Salida:</label>
            <input type="date" id="fecha_salida" name="fecha_salida" required>
            
            <button type="submit">Reservar</button>
        </form>
    </div>
    <p align="center">Estamos diseñando un espacio especial para servirte; pronto estará a tu disposición.</br></br>Por ahora contáctanos</br></br>
        <a href="https://api.whatsapp.com/send?phone=573214681457&text=Hola,%20quiero%20mas%20informaci%C3%B3n..." target="_blank">¡AQUÍ...</a>
    </p>

</body>
</html>