<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotel Campestre El Triunfo</title>
        <link rel="icon" type="image/png" sizes="16x16" href="\images\favlogo.png">
        <link rel="stylesheet" href="\css\style.css">
    </head>

<body>
    <div class="title">
        <table style="width:100%" border=0>
            <tr>
                <td align="left">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="\"><img src="\images\logo3.jpg" id="logo"/></a>
                </td>
                <td>
                    
                </td>
                <td align="right">
                    <a class="nav-link active" href="\">Inicio</a>&nbsp;&nbsp; <!-- Enlace al inicio de la página -->
                    <a class="nav-link" href="login">Ingresar</a>&nbsp;&nbsp; <!-- Enlace a la página de inicio de sesión -->
                    <a class="nav-link" href="register">Registrarme</a>&nbsp;&nbsp;&nbsp;&nbsp; <!-- Enlace a la página de registro -->
                </td>
            </tr>
        </table>
    </div>
    <h1 align="center">Reserva con nosotros</h1>
    
    <p align="center">Estamos diseñando un espacio especial para servirte; pronto estará a tu disposición.</br></br>Por ahora contáctanos</br></br>
        <a href="https://api.whatsapp.com/send?phone=573214681457&text=Hola,%20quiero%20mas%20informaci%C3%B3n..." target="_blank">¡AQUÍ...</a>
    </p>

</body>
</html>